*-checkpoint.ipynb
*.pdf
.DS_Store
*/.DS_Store
.venv/
__pycache__/
*.pyc
.pytest_cache/
data/hotdog
data/leonardo_rabbit.jpg
daenv_macos.yml
data/*
!data/economic_indicators/
!data/economic_indicators/**
!data/nyc_taxi/
!data/nyc_taxi/**
!data/uni_students/
!data/uni_students/**
